/* General styles for Navbar and Sidebar */

/* Overlay Styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0); /* Initially fully transparent */
  z-index: 900;
  transition: background-color 0.5s ease; /* Same duration as sidebar animation */
  pointer-events: none; /* Initially, don't capture clicks */
  opacity: 0; /* Start with hidden */
}


/* When sidebar is visible, make overlay active */
.sidebar-visible ~ .overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  pointer-events: all; /* Now capture clicks */
  opacity: 1; /* Make visible */
}


/* NavBar */
.navbar {
  background-color: #838baf; /* Dark blue background */
  color: #ECF0F1; /* Light text */
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}



.navbar-icon {
  display: flex;
  align-items: center; /* Vertically centers the child elements */
  justify-content: center; /* Horizontally centers the child elements */
  cursor: pointer;
  font-size: 35px;
  user-select: none; /* Prevent text selection */
  margin-bottom: 10px;
}



.navbar-icon:hover {
  background-color: #31304D; /* Darken button on hover */
  border-radius: 10px;
}

/* Sidebar */
.sidebar {
  background-color: #49486d; /* Darker shade for the sidebar */
  color: white;
  position: fixed;
  top: 0;
  left: -250px; /* Start off-screen */
  width: 250px;
  height: 100%;
  z-index: 999;
  padding-top: 60px;
  overflow-y: auto; /* Enable scrolling for long sidebars */
  transition: left 0.5s ease; /* Smooth transition for the 'left' property */
}

/* When sidebar is visible */
.sidebar-visible {
  left: 0; /* Move sidebar into view */
}

.sidebar-item {
  padding: 18px 22px;
  text-decoration: none;
  color: white;
  display: block;
  transition: background-color 0.3s, padding-left 0.3s;
}

.sidebar-item:hover {
  background-color: #838baf; /* Lighter shade on hover */
  padding-left: 25px; /* Indent text on hover */
  color: white;
}


















/* App.css */
.content-container {
  margin-top: 70px; /* NavBar's height */
}

.center-title {
  text-align: center;
}

.bold-text {
  font-weight: bold;
}



/* NavBar user name */

.login-link, .user-name {
  cursor: pointer;
  font-size: 20px;
}

.user-interaction-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  background-color: #49486d;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 1000;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
}

.logout-link {
  font-size: 16px;
}
.user-interaction-container:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
}




/* HomePage - ColumnDisplay component */
.column-movies-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the space between cards */
  justify-content: center;
}

.column-movie-card {
  width: calc(20% - 20px); /* 5 cards per row minus gap for desktop */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  background-color: #e1e4e6;
}

.column-movie-poster {
  width: 100%;
  height: auto;
  border-radius: 10px;
  
}

.movie-title {
  height: 60px; /* Fixed height for the title */
  overflow: hidden; /* Hide overflow text */
  text-align: center;
  margin: 10px 0; /* Spacing around the title */
}

.view-detail-button {
  font-size: 14px; 
  margin: 2px; /* Add some margin for spacing */
  padding: 8px 10px; /* Add padding to make the buttons bigger */
  background-color: #7d7e7f; /* Background color */
  color: #fff; /* Text color */
  border: none; /* Remove borders */
  border-radius: 10px; /* Add rounded corners */
  cursor: pointer;
}

.view-detail-button:hover {
  background-color: rgb(178, 182, 186);
}







/* buttons */
.pagination-container {
  text-align: center; /* Center the buttons horizontally */
  margin-top: 20px; /* Add top margin for spacing */
}

.prev-page-button,
.next-page-button {
  font-size: 18px; /* Adjust the font size as needed */
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 20px;
  padding: 10px 20px; /* Add padding to make the buttons bigger */
  background-color: #67729D; /* Background color */
  color: rgb(255, 255, 255); /* Text color */
  border: none; /* Remove borders */
  border-radius: 20px; /* Add rounded corners */
  cursor: pointer;
}

.prev-page-button:hover,
.next-page-button:hover {
  background-color: #9EB8D9; /* Change background color on hover */
}


.homepage-log-in-section {
  background-color: #B6BBC4;
  border-radius: 20px;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;

}

.homepage-user-greeting {
  text-align: center;
  /* margin-top: 20px; */
}

.homepage-user-greeting h2 {
  color: #333; 
  margin-bottom: 10px;
  font-size: 30px;
}

.homepage-user-greeting p {
  color: #666; 
  font-size: 20px;
}











/* Search Component */


.search-form {
  /* Styles for the form */
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  /* Styles for the input field */
  padding: 8px;
  margin-right: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
}

.search-button {
  /* Styles for the button */
  /* margin-top: 20px; */
  /* margin-bottom: 20px; */
  padding: 10px 15px;
  background-color: #67729D;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #9EB8D9;
}


/* DetailsPage layout */
.details-page-container {
  display: flex;
  margin: 20px;
  gap: 20px;
}

/* Details Page - Poster */
.details-left-column {
  flex: 1;
  margin-top: 20px;
  margin-left: 20px;
  width: 60%; 
}

.details-movie-poster img {
  width: 100%;
  height: auto;
  border-radius: 15px; /* Rounded corners for the image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Details Page - Movie Infor */
.details-right-column {
  flex: 2;
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 10px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-movie-info {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 10px;
  margin-right: 40px;
}

.details-movie-info h1 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  font-size: 36px;
}

.details-movie-info p {
  margin: 5px 0;
  line-height: 1.6;
  font-size: 18px;
}

.details-movie-info p:first-of-type {
  font-style: italic;
  text-align: center;
  color: #555; 
}

/* Details Page - Rating and Review */
.rating-review-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  width: 95%;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 40px;
}

.rating-container,
.review-container {
  display: flex;
  flex-direction: column;
}

.rating-label,
.review-label {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.rating-radio-buttons {
  font-size: 16px;
  display: flex;
  gap: 10px;
}

.radio-label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.review-textarea {
  min-height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  resize: vertical;
  font-size: 16px;
}


.submit-button-container {
  display: flex;
  justify-content: flex-end; /* Aligns the button to the right */
  padding-top: 10px; /* Optional: adds some space above the button */
}


.submit-button {
  margin-top: 10px;
  width: 20%;
  background-color: #6d7073;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #989b9e;
}


/* Collection Page - collection display */
.collection-movie-item {
  display: flex;
  background-color: #f2f2f2; /* Card background color */
  border-radius: 15px; /* Rounded corners for the card */
  margin-bottom: 40px; /* Space between cards */
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Card shadow */
  overflow: hidden; /* Ensures the border-radius clips the content */
}

.collection-poster {
  flex: 1; /* Assigns equal width to both the poster and text if possible */
  max-width: 250px; 
}

.collection-poster img {
  width: 100%; /* Ensures the image takes the full width of its container */
  height: 100%; /* Keeps the image aspect ratio */
}

.collection-text {
  flex: 2; /* Allows the text section to take more space than the image */
  padding: 20px; /* Spacing inside the text container */
}

.collection-text h2 {
  margin-top: 5px;
  color: #333; /* Title color */
  font-size: 28px;
}

.collection-text p {
  color: #666; /* Text color */
  margin: 8px 0; /* Spacing between paragraphs */
  font-size: 16px;
}

.collection-rating-and-review {
  margin-top: 20px;
}

.collection-movie-info {
  margin-top: 20px;
}

.collection-button-actions {
  margin-top: auto; /* Pushes the buttons to the bottom */
  margin-right: 30px;
  margin-bottom: 10px;
  padding: 10px 0; /* Spacing above the buttons */
  display: flex; /* Align buttons in a row */
  gap: 15px; /* Spacing between buttons */
  justify-content: flex-end; /* Align buttons to the right */
}

.collection-button-actions button {
  padding: 12px 20px; /* Increased padding for a larger button */
  font-size: 14px; /* Larger font size */
  border: none; /* No border */
  border-radius: 20px; /* Rounded corners */
  background-color: #727476; /* Background color */
  color: white; /* Text color */
  font-weight: bold; /* Font weight */
  cursor: pointer; /* Cursor changes to pointer on hover */
  transition: background-color 0.5s ease; /* Smooth transition for hover effect */
}

.collection-button-actions button:hover {
  background-color: #3d3f42; /* Darker shade on hover */
}

.collection-button-actions button:active {
  background-color: #505152; /* Even darker shade when active/clicked */
}


.collection-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Darker semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.collection-popup-content {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 350px;
  max-width: 90%;
}

.collection-popup-content label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #333;
  font-size: 14px;
  font-weight: 600;
}

.collection-popup-content input[type="number"],
.collection-popup-content textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box; 
  font-size: 14px;
}

.collection-popup-content textarea {
  height: 120px;
  resize: vertical;
  margin-top: 15px; /* Added space between rating input and review textarea */
}

.collection-popup-content button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #6c757d;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.2s;
}

.collection-popup-content button:hover {
  background-color: #b0b2b4;
}

.collection-popup-content button:last-child {
  background-color: #6c757d; /* Cancel button color */
  margin-left: 20px;
}

.collection-popup-content button:last-child:hover {
  background-color: #b0b2b4;
}





/* Debugger Page */
.debugger-page {
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.debugger-page h3 {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

.debugger-page textarea {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  resize: none;
}



/* Profile Page */
.profile-user-info-container {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center items horizontally */
  margin-bottom: 30px; /* Space between user info and collection list */
  margin-top: 50px;
  width: 100%; /* Full width to allow centering */
}

.profile-image {
  width: 100px; /* Adjust size as needed */
  height: 100px; /* Adjust size as needed */
  border-radius: 50%; /* Circular picture */
  margin-right: 20px; /* Space between picture and details */
}

.profile-edit-button {
  padding: 8px 12px; /* Adds padding inside the button */
  background-color: #7d7e81; /* Sets a primary color */
  color: white; /* Text color */
  border: none; /* Removes the border */
  border-radius: 20px; /* Rounds the corners */
  cursor: pointer; /* Changes the cursor on hover */
  font-size: 15px; /* Sets a comfortable font size */
  transition: background-color 0.2s ease; /* Smooth transition for hover effect */
}

.profile-edit-button:hover {
  background-color: #bbbfc2; /* Darkens the button on hover */
}




.profile-hint {
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 30px;
  color: #445D48;
}


.profile-text-display-section {
  background-color: #B6BBC4;
  border-radius: 20px;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
}



.profile-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.profile-popup-content input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 20px; /* Space between input and buttons */
}

.profile-popup-content button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #6c757d;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.2s;
  margin-right: 10px; /* Space between buttons */
}

.profile-popup-content button:hover {
  background-color: #999ea0;
}


.profile-no-movie-hints {
  text-align: center; /* Center text horizontally */
  width: 100%; /* Ensure it takes the full width for proper centering */
  margin-top: 20px; /* Add some space at the top */
  font-size: 18px; 
  color: #666; 
}

 
/* TextDisplay for ProfilePage and HomePage */

.text-display-movie-item {
  background-color: #f0f0f0;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  width: 60%; /* Adjust the width as needed */
  max-width: 800px; /* Maximum width */
  margin: 25px auto; /* Center the item horizontally */
  color: #333; /* Dark color for title */
  font-size: 18px; /* Slightly larger font for title */
  font-weight: bold; /* Bold font for title */
  
}


.text-display-movie-item:hover {
  transform: translateY(-5px); /* Slight lift effect on hover */
}


.text-display-movie-title {
  text-decoration: none; /* Remove underline from link */
  color: #2D9596; /* Hyperlink color */
  cursor: pointer; /* Change cursor to indicate it's clickable */
  display: block; 
  margin-bottom: 10px;
  text-align: center; /* Center the title */
}

.text-display-movie-title:hover {
  text-decoration: none; /* Ensure no underline on hover */
  color: #9AD0C2; /* Different color on hover */
}

.text-display-time {
  font-size: 14px; /* Smaller font size */
  font-style: italic; /* Italic font style */
  text-align: center; /* Center the time text */
  margin-bottom: 10px; /* Space between time and rating/review */
}

.text-display-movie-rating-and-review {
  color: #666; /* Dark grey color for text */
  margin: 5px 0; /* Spacing between lines */
}


















/* Responsive adjustments for tablets */
@media screen and (max-width: 768px) {


  .profile-user-info-container, .collection-movie-item, .text-display-movie-item {
    flex-direction: column;
    align-items: center;
  }

  .profile-image {
    width: 80px;
    height: 80px;
  }

  .collection-poster img, .details-movie-poster img {
    width: 100%;
  }

  .details-page-container {
    flex-direction: column; /* Stack children vertically */
  }

  .details-left-column, .details-right-column {
    width: 100%; /* Full width for smaller screens */
    margin-left: 0; /* Reset margins */
    margin-right: 0;
  }

  .column-movie-card {
    width: calc(33% - 20px); /* 3 cards per row */
  }

  .profile-popup-content, .collection-popup-content {
    width: 80%;
  }
}








/* Responsive adjustments for mobile phones */
@media screen and (max-width: 480px) {
  .sidebar {
    width: 40%; 
  }

  .column-movie-card {
    width: calc(50% - 20px); /* 2 cards per row */
  }

  /* Search form adjustments */
  .search-form {
    flex-direction: column; /* Stack input and button vertically */
    align-items: center;
  }

  .search-input {
    width: 60%; /* Reduce width to fit screen */
    margin-bottom: 10px; /* Add space between input and button */
  }

  .search-button {
    width: 30%; /* Reduce button width */
  }

  .profile-popup-content, .collection-popup-content {
    width: 90%;
  }

  .details-page-container,
  .rating-review-form,
  .details-movie-info,
  .submit-button-container {
    flex-direction: column;
  }


  .details-left-column, .details-right-column {
    width: 100%; /* Full width for smaller screens */
    margin-left: 0; /* Reset margins */
    margin-right: 0;
  }

  .details-movie-poster,
  .details-movie-info {
    width: 100%;
  }

  .submit-button {
    width: 100%;
  }

  .text-display-movie-item {
    width: 80%;
  }
}






/* Adjustments for typography on smaller screens */
@media screen and (max-width: 480px) {
  .sidebar {
    /* change the sidebar width */
    width: 40%; 
  }


  body {
    font-size: 14px;
  }

  .center-title, .homepage-user-greeting h2, .details-movie-info h1 {
    font-size: 24px;
  }

  .profile-popup-content button, .collection-popup-content button {
    font-size: 12px;
  }

  .text-display-movie-item {
    width: 80%;
  }

  .details-page-container,
  .rating-review-form,
  .details-movie-info,
  .submit-button-container {
    flex-direction: column;
  }

  .details-left-column, .details-right-column {
    width: 100%; /* Full width for smaller screens */
    margin-left: 0; /* Reset margins */
    margin-right: 0;
  }

}



/* Additional styles to prevent unintentional wrapping */
* {
  box-sizing: border-box;
}

/* Ensuring no unintentional scrollbars */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Ensuring embedded scrollbars are used only when necessary */
.long-content-section {
  overflow: auto; /* Use only for long content sections */
}
